@media only screen and (max-width: 991px) {
    .small-tab-card{
        min-width: 400px;
        margin: auto;
    }
}
@media only screen and (max-width: 991px) {
    button{
        /* font-size: 20px !important; */
    }
    .btn-part4{
        width: 100% !important;
    }
    .our_lap{
        width: 100%;
        text-align: center;
    }
    .btn-flag{
        display: flex;
    }
    .card-flag {
        display: none !important;
    }
   
    .w-par {
        width: 100% !important;
    }

    .two-card{
        justify-content: center !important;
    }

    .card-c1{
        min-width:230px;
    }

    .card-c2{
        max-width: 275px !important;
    }
    .line-flag{
        display: none;
    }
    .img-right{
        width: 100%;
    }

    .bg-overlay2 {
        order: -1 !important;
    }

    .small-tab-card{
        min-width: 325px;
        margin: auto;
    }
    
  }

@media only screen and (max-width: 600px) {
    button{
        font-size: 18px !important;
    }
    h2{
        font-size: 30px !important;
    }
    .fs_small{
        font-size: 20px;
    }
    .fs_small2{
        font-size: 20px;
    }
    .fs_small3{
        font-size: 20px;
    }
    .our_lap{
        font-size: 20px !important;
    }


    .card-c1{
        min-height:350px;
    }
    .card-c1 h3{
        font-size: 40px;
    }
    .card-c1 p{
        font-size: 35px !important;
    }

    .card-c2{
        max-width: 190px !important;
    }

    .btn-flag{
        width: 80%;
        margin: auto;
    }

    .small-tab-card{
        min-width: 270px;
        margin: auto;
    }
}